@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Arial', sans-serif;
  }
 
 
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Theater Search Page Responsivenss */
@media (min-width: 300px) {
  .container {
      min-width: -webkit-fill-available;
  }
}

@media (min-width: 768px) {
  .container {
      min-width: auto;
  }
}

